:root {
    --white: #F6F1F1;
    --lighblue: #AFD3E2;
    --blue: #19A7CE;
    --darkblue: #146C94;
}

@font-face {
    font-family: 'montserrat';
    src: url(font/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'bold';
    src: url(font/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'extrabold';
    src: url(font/Montserrat/static/Montserrat-ExtraBold.ttf);
}


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--white);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;


}

header {
    position: fixed;
    z-index: 999;
    width: 100%;
}


.logo img {
    height: 55px;
}


.nav-links {
    text-align: center;
    display: inline-block;
}

.checkbtn {
    display: none;
}

#check {
    display: none;

}

.nav-links .nav-head {
    color: var(--white);
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'montserrat';
    font-weight: 600;
}

@media (max-width: 860px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        text-align: center;
        justify-content: center;
        width: 100%;
        backdrop-filter: blur(10px);
        height: 100%;
        margin: 0;
        left: -100%;

    }

    .nav-head,
    .dropdown {
        padding: 30px;
    }

    #check {
        display: none;
    }

    #check:checked~.nav-links {
        left: 0;

    }

    .checkbtn {
        display: block;
    }

}

#check:checked~.nav-links {
    left: 0;

}


.volunteer {
    text-align: right;

    font-size: 20px;
    margin-right: 15px;
    background-color: var(--darkblue);
    padding: 20px 20px;
    color: var(--white);
    margin-right: 5px;

}

.volunteer a {
    text-decoration: none;
    color: var(--white);
    font-family: 'montserrat';

}

.volunteer {
    border-radius: 3px;
    border: 1px solid var(--darkblue);
    transition: all 0.2s;
}



@media screen and (max-width: 768px) {


    .contact-info {
        text-align: center;
        margin-top: 10px;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {

    display: none;
    position: absolute;
    background-color: var(--white);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 3px;

}


.dropdown-content a {
    color: var(--darkblue);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'montserrat';
    font-weight: 600;
}

.dropdown-content a:hover {
    background-color: var(--darkblue);
    color: var(--white);
    transition: all 0.2s;

}


.nav-links .dropdown:hover .dropdown-content {
    display: block;




}


.nav-links a:nth-child(2):hover .dropdown-content,
.nav-links a:nth-child(3):hover .dropdown-content,
.nav-links a:nth-child(4):hover .dropdown-content {
    left: 0;
}


.nav-links a:nth-child(5):hover .dropdown-content,
.nav-links a:nth-child(6):hover .dropdown-content,
.nav-links a:nth-child(7):hover .dropdown-content {
    left: 100%;
}

.volunteer:hover a {
    color: var(--darkblue);
}

.volunteer:hover {
    background: transparent;

}

.home {
    height: 65vh;
    overflow: hidden;

    overflow-y: hidden;

}

.video-back {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -31;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;


}

.home-text {
    margin: 20vh 15vh;
    width: 800px;

}

.home-text h1 {
    font-size: 50px;
    font-family: 'bold';
    color: var(--white);
    font-weight: 800;
    text-transform: uppercase;

}

.grid-home {
    background-color: rgba(0, 0, 0, 0.4);
    height: 23vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);

}

.latest-update {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'extrabold';
    color: var(--white);
}

.bottom-latest {
    color: var(--blue);
}

.learn-more {
    padding: 25px 50px;
    border: 2px solid var(--white);
    background-color: var(--white);
    color: black;
    text-decoration: none;
    font-family: 'bold';
    font-size: 18px;
    font-weight: 500;
    margin-top: 2rem;
    box-shadow: 10px black;
    transition: all 0.3s;
    border-radius: 4px;
}

.learn-more:hover {
    background-color: transparent;
    color: var(--white);

}

.video {
    padding: 15px;

}

.story {
    padding: 15px;
}

.press-release {
    padding: 15px;
}

.video a {
    margin-top: 10px;
    text-decoration: none;
    color: var(--white);
    font-family: 'Montserrat';

}

.story a {

    text-decoration: none;
    color: var(--white);
    font-family: 'Montserrat';
}

.press-release a {

    text-decoration: none;
    color: var(--white);
    font-family: 'Montserrat';
}

.video label {
    color: var(--darkblue);
    font-size: 25px;
    font-family: 'bold';

}

.story label {
    color: var(--darkblue);
    font-size: 25px;
    font-family: 'bold';
}

.press-release label {
    color: var(--darkblue);
    font-size: 25px;
    font-family: 'bold';
}

.about {
    height: fit-content;
    background-color: var(--white);
}

.about-content {
    background-color: var(--blue);
    height: fit-content;
    margin: 0 3rem;
    transform: translateY(-35px);

}

.grid-about {
    height: 400px;

    margin: 1rem 80px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.plastic {
    padding: 1rem;
    font-family: 'montserrat';
    transition: all 0.3s;
    transform: translateY(-50px);
    opacity: 0;

}

.plastic span {
    font-size: 14px;
}

.ocean {
    padding: 1rem;
    font-family: 'montserrat';
    transition: all 0.3s;
    transform: translateY(-50px);
    opacity: 0;

}

.ocean span {
    font-size: 14px;
}

.cleanwater {
    padding: 1rem;
    font-family: 'montserrat';
    transition: all 0.3s;
    transform: translateY(-50px);
    opacity: 0;
}

.cleanwater span {
    font-size: 14px;
}

.cleaning-gutters {
    padding: 1rem;
    font-family: 'montserrat';
    transition: all 0.3s;
    transform: translateY(-50px);
    opacity: 0;
}

.cleaning-gutters span {
    font-size: 14px;
}

.about-content h1 {
    justify-content: center;
    display: flex;
    padding: 40px;
    font-size: 3rem;
    font-family: 'bold';


}

.head-about {
    transition: all 0.3s;
    transform: translateX(-30px);
    opacity: 0;
}

.news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--white);
    margin: 1rem 3rem;
    gap: 3rem;
    height: max-content;
    font-family: 'montserrat';
    overflow: hidden;
}

.news-img {
    background-image: url(img/demo.jpg);
    grid-template-areas: "img";
    background-size: cover;
    background-position: center;
    margin: 0 1rem;
    opacity: 0;
    transform: translateX(50%);
    transition: all 0.5s;
    overflow: hidden;


}

.news-text {
    padding: 1rem;
    grid-template-areas: "text";
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.5s;
    overflow: hidden;
}

.news-text h4 {
    font-size: 20px;
}

.news-text h2 {
    font-size: 45px;
}

.news-text a {
    margin-top: 40px;

}

.learn-news {
    margin-top: 4rem;

}

.learn-news a {
    text-decoration: none;
    padding: 15px 30px;
    background-color: var(--darkblue);
    color: var(--white);
    border: 2px solid var(--darkblue);
    border-radius: 3px;
    font-weight: 600;

}

.learn-news a:hover {
    background-color: transparent;
    color: var(--darkblue);

}

.join-us {
    background-color: var(--blue);
    height: max-content;
    margin-bottom: 4rem;
    display: grid;
}

.join-content {
    display: grid;

    margin: 1rem 3rem;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'montserrat';
}

.volunteer-join {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.name {
    display: flex;
    flex-direction: row;
}

.input-data {
    padding: 1rem;
    gap: 1rem;

}

input[type="text"] {

    margin: 0.3rem;
    height: 25px;
    outline: none;
    border-radius: 4px;
    border: none;
    padding: 5px 10px;
    background-color: var(--white);
    font-family: 'montserrat';
    color: black;
}

input[type="text"]:focus {

    outline: none;
    border: none;
}

.firstname {
    margin-right: 1rem;
}

.button-volunteer a {
    padding: 15px 30px;
    background-color: black;
    color: var(--white);
    margin-top: 3rem;
    text-decoration: none;
    font-family: 'montserrat';
    border-radius: 4px;
    border: 2px solid black;
    transition: all 0.3s;
}

.button-volunteer a:hover {
    background-color: transparent;
    color: black;
}

.button-volunteer {
    margin-top: 3rem;
}

.rekening {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.donate {
    padding: 1rem;
}

.nama {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.membership img {
    animation: turunaik 3s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes turunaik {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }

}

.team-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 3rem 3rem;
    gap: 3rem;
    overflow: hidden;
}

.imgteam {
    display: flex;
    justify-content: end;
    background-image: url(img/team.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.5s;
    overflow: hidden
}

.imgteam img {


    max-width: fit-content;
    min-width: 150px;
    height: fit-content;
    margin-bottom: 1rem;
}

@keyframes sudut {
    0% {
        border-radius: 40% 3px 3px 3px;

    }

    50% {
        border-radius: 3px 40% 3px 3px;
    }

    100% {
        border-radius: 40% 3px 3px 3px;
    }

}

.text-team {
    font-family: 'montserrat';
    padding: 1rem;
    opacity: 0;
    transform: translateX(50%);
    transition: all 0.5s;

}

.text-team h2 {
    font-size: 45px;
    font-family: 'bold';
}

.text-team h4 {
    font-size: 25px;
    font-family: 'bold';
}

.footer {
    height: 250px;
    background-color: var(--darkblue);
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding: 1rem 3rem;
}

.grid-stories {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    height: 80vh;
    padding:  ;
}

.card-stories {
    border: 1px solid;
}

.aboutus-footer,
.give,
.get,
.socialmedia {
    display: flex;
    flex-direction: column;
}

.aboutus-footer a,
.give a,
.get a,
.socialmedia a {
    color: black;
    text-decoration: none;
    font-family: 'bold';
    font-size: 15px;
    margin-top: 5px;

}

.aboutus-footer h3,
.give h3,
.get h3,
.socialmedia h3 {
    color: black;
    text-decoration: none;
    font-family: 'bold';
    font-size: 23px;
}

.footer-bottom {
    height: 10vh;
    text-align: center;
    display: grid;
    place-items: center;
    background-color: var(--blue);
    color: var(--lighblue);
}

@media (max-width: 1180px) {
    .grid-home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .grid-about {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0 1rem;
        height: max-content;
    }

    .home-text {
        margin: 16vh 3vh;
    }

    .join-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        height: max-content;
        margin: 1rem 0;
    }

    .news-img {
        margin: 0 1rem;
    }

    .news {
        margin: 1rem 1rem;
        gap: 1rem;
        display: flex;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "img"
            "text"

        ;
        flex-direction: column-reverse;

    }

    .news-img {
        grid-template-areas: 'img';
        height: 400px;

    }

    .news-text {
        grid-template-areas: "text";
    }

    .team-content {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .imgteam {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 4rem;
        margin: 0 4rem;
        min-height: max-content;
    }

    input[type="text"] {
        width: 300px;
    }

    .team-content {
        width: 100%;
        margin: 0.4rem 0.4rem;
        gap: 1rem;
    }

    .footer-content {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;

    }

    .footer {
        height: max-content;
    }

    .name {
        margin-right: 1rem;
        gap: 1rem;
        display: flex;

        flex-direction: column;
    }

    .name {}

}

@media (max-width: 600px) {
    .home-text {
        width: 300px;
        margin: 12vh 3vh;
    }

    .learn-more {
        padding: 10px 20px;
        font-size: 10px;
    }

    .home-text h1 {
        font-size: 35px;
    }

    .grid-home {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        margin: 1rem;

    }

    .latest-update {
        font-size: 20px;
    }

    .video label {
        font-size: 16px;
    }

    .video a {
        font-size: 12px;
    }

    .story label {
        font-size: 16px;
    }

    .story a {
        font-size: 12px;
    }

}

@media (max-width: 600px) {
    .about-content {
        margin: 0 0.2rem;
    }

}


.show {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);

}